Options -MultiViews
RewriteEngine on 

RewriteRule ^sess_([^/]*)/user/(.*).html$ ../user.php?user=$2&sid=$1 [L]
RewriteRule ^user/(.*).html$ ../user.php?user=$1 [L]

RewriteRule ^sess_([^/]*)/plugin/(.*)/(.*).html$ ../index.php?plugin=$2&page=$3&sid=$1 [L]
RewriteRule ^plugin/(.*)/(.*).html$ ../index.php?plugin=$1&page=$2 [L]
RewriteRule ^sess_([^/]*)/plugin/(.*).html$ ../index.php?plugin=$2&sid=$1 [L]
RewriteRule ^plugin/(.*).html$ ../index.php?plugin=$1 [L]

RewriteRule ^sess_([^/]*)/(.*)-([0-9_]*).html(.*)$ sess_$1/$3.html$4 [L]
RewriteRule ^(.*)-([0-9_]*).html(.*)$ $2.html$3 [L]

RewriteRule ^sess_([^/]*)/([0-9]+)_([0-9]+)_([0-9]+).html$ ../thread.php?board=$2&thema=$3&page=$4&sid=$1 [L]
RewriteRule ^([0-9]+)_([0-9]+)_([0-9]+).html$ ../thread.php?board=$1&thema=$2&page=$3 [L]

RewriteRule ^sess_([^/]*)/([0-9]+)_([0-9]+).html$ ../thread.php?board=$2&thema=$3&sid=$1 [L]
RewriteRule ^([0-9]+)_([0-9]+).html$ ../thread.php?board=$1&thema=$2 [L]

RewriteRule ^sess_([^/]*)/([0-9]+)__([0-9]+).html$ ../board.php?board=$2&page=$3&sid=$1 [L]
RewriteRule ^([0-9]+)__([0-9]+).html$ ../board.php?board=$1&page=$2 [L]

RewriteRule ^sess_([^/]*)/([0-9]+).html$ ../board.php?board=$2&sid=$1 [L]
RewriteRule ^([0-9]+).html$ ../board.php?board=$1 [L]

RewriteRule ^sess_([^/]*)/([0-9]+)__([0-9]+).html/(.*)$ ../board.php?board=$2&page=$3&sid=$1&sort=$4 [L]
RewriteRule ^([0-9]+)__([0-9]+).html/(.*)$ ../board.php?board=$1&page=$2&sort=$3 [L]

RewriteRule ^sess_([^/]*)/([0-9]+).html/(.*)l$ ../board.php?board=$2&sid=$1&sort=$3 [L]
RewriteRule ^([0-9]+).html/(.*)$ ../board.php?board=$1&sort=$2 [L]

RewriteRule sitemap.xml ../sitemap.php [L]

RewriteRule (.*).html ../$1.php [L]

RewriteRule $ ../
