<tr><td class="w" colspan="2">
	<table style="table-layout:fixed;">
	<tr>
		<td rowspan="2" style="width:20%;vertical-align:top;padding:0px;padding-right:5px;">
			{_DATETIME_}
			<br />{_USER_}
			{_AVATAR_}
			{_IP_}
		</td>
		<td style="width:80%;vertical-align:top;padding:0px;overflow:hidden;">
			<a name={_ID_}></a>
			{_TAG_} <b>{_HEADLINE_}</b>
			<p>{_TEXT_}</p>
			{_ADD_TEXT_}
		</td>
	<tr>
		<td style="vertical-align:bottom;padding:0px;">
			<ul class="post_buttons">{_POST_BUTTONS_}</ul>
		</td>
	</tr>
	</table>
</td></tr>
